{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Негабаритные перевозки, монтаж и такелаж оборудования, собственное проектное бюро">
    <title>push_pull</title>
    <link rel="shortcut icon" type="image/jpg" class="logo" href="static/mainpage/image_project/logo.jpg" alt="логотип"/>

    <link rel="stylesheet" href="static/mainpage/css/style_web.css">
    
   
    <script src="static/mainpage/J_S/main_web.js"></script>
</head>
<body>
    <div id="golova">
        
        <img class='logotip' src="static/mainpage/image_project/logo.jpg" alt="логотип" >
        
        <!--Заголовок сайта-->
    </div>
    <div>
         <a href="#"><ion-icon name="v-kontakte"></ion-icon></a>
        <a href="#"><ion-icon name="telegram"></ion-icon></a>
       
        
        <img  class='logotip2' src="static/mainpage/image_project/zastavka.jpg" alt="zastav">
     </div>   
    <h1 class="zagol">Тяни-толкай негабаритные и проектные перевозки </h1>
    </div>
    <div class="photo-cont">    
        <div class="photo-1">
            <img src='static/mainpage/image_project/tral_web.jpg' />
        </div>
        <div class="photo-2">
            <img src="static/mainpage/image_project/tral_web.jpg2" alt="картинка " />
        </div>
    </div>
    <div class="body1">
    <h3>Если не довезем тогда дотолкаем!!</h3>
    

    <form id='search' action="">
        <input type="text" placeholder="Поиск по сайту">
        <button type="submit">поиск</button>
        <input class='but_zap' type="submit" value="Отправить запрос на расчет"  placeholder="Заказать расчет" onclick="zapros_out">
    </form>
    </div>
    <form id='zapros' action="">
    {% comment %}   
    СДЕЛАТЬ: Модель, Форму, Сохранение, Отправку в ТГ бот.....
    var number = 'Введите телефон ';
    var email = 'Введите почту ';
function zapros_out() { // Форма обратной связи
    var num = document.getElementById('zapros');
  }
    {% endcomment%}
       
    </form>
    <div id="menu">
        <li class="menu_list">
            <a href="#">Главная</a>
            <a href="#">Услуги</a>
            <a href="#">Парк техники</a>
            <a href="#">Отзывы</a>
            <a href="#">Фото наших работ</a>
                <div>
                <a href="html/DST.html">Перевозка дорожной техники</a>
                <a href="html/ing.html"> Перевозка емкостного оборудования</a>
                <a href="html/project_trip.html">Перевозка проектных грузов</a>
                </div>
            <a href="#">Контакты</a>
        </li>
    </div>
    <div>
        <h3>В ведите населенные пункты для расчета растояния</h3>
        <input type="text" id="city_1" value="Погрузка">
        <select name="#" id="way_1">
        <option value="1">Москва</option>
        <option value="2">Санкт-Петербург</option>
        <option value="3">Казань</option>
        <option value="4">Краснодар</option>
        </select>

        <input type="text" id="city_2" value="Разгрузка">
        <select name="#" id="way_2">
            <option>Санкт-Петербург</option>
            <option>Москва</option>
            <option>Казань</option>
            <option>Краснодар</option>
            </select>
        <input type="button" onclick="calc()" value="расчитать">
    </div>
  
      <div>
        Существуют установленные нормы размеров перевозимого груза.
Если груз по ширине превышает 2,55 метров, по высоте — 4 метра, а длине — 20 метров, то он считается негабаритным.
Доставка негабаритного груза, это сложный процесс – компания «Тяни-Толкай» гарантирует доставку негабаритного груза в установленные сроки., при соблюдении всех правил и нормативов.
<a href="https://onlinegibdd.ru/articles/view/perevozka-negabarita?ysclid=m2xisj6tbq28906602">Правила перевозки негабаритных грузов</a>
Самостоятельно перевезти негабаритный груз крайне сложно, так как есть строго регламентированные правила дорожного движения.
Основной гарантией безопасности являются квалифицированные сотрудники и автомобили прикрытия. Их функция — сопровождение негабаритных грузов и предупреждение других автовладельцев о возможных сложностях на дороге. Необходимость транспорта сопровождения (прикрытия) определяет Госавтоинспекция.
К негабаритному грузу относится:</div>
<li id="list_gruz">
    <ul>Различное промышленное и сельхоз оборудование.</ul>
    <ul>Спецтехника и строительное оборудование.</ul>
    <ul>Резервуары для нефтепереработанных продуктов.</ul>
    <ul>Железобетонные и металлические изделия.</ul>
    <ul>Строительные изделия и готовые конструкции.</ul>
    <ul>Трубопроводы и их элементы.</ul>
</li>

<div>
Также в ПДД есть пункты, касающиеся непосредственно крупногабаритных грузов. Последние должны быть отмечены специальными знаками таблички должна быть светоотражающей. Сопровождать транспортное средства при перевозке крупногабаритного груза могут две или три машины: одна спереди и одна-две сзади. Каждую обклеивают специализированными наклейками желто-оранжевыми полосами, снабжают маячками и табличками.
При несоблюдении правил можно получить штраф!
Если вы хотите узнать цены перевозки негабаритного груза из вашего города до места назначения, а также задать вопросы относительно подготовки и документации, свяжитесь с нашими менеджерами, которые дадут исчерпывающие ответы и рассчитают точную стоимость.
</div>
    

    <!-- Контейнер меню -->
<div class="menu-container">
    <!-- Список меню -->
    <ul class="menu-list">

        <footer class="foot">
            <div class="waves">
                <div class="wave" id="wave1"></div>
            </div>
            <ul class="social">
                <li><a href="#"><ion-icon name="v-kontakte"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="telegram"></ion-icon></a></li>
               
            </ul>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Партнеры</a></li>
                <li><a href="#">Правовая информация</a></li>
                <li><a href="#">Публичная оферта</a></li>
            </ul>
            <p>©2024 Академия Топ| Все права защищены</p>
        </footer>
        
    </body>        
  