*{
    margin: 10px;
}


.size {
    width: 300px;
    height: 250px;
    display: inline;
    
}

img{
    width: 200px;
    height: 150px;
}   
    

div{ transition: width 5s, height 5s, background-color 5s; /* Время эффекта */
    overflow: hidden;
   }
.size:hover {
   
    width: 600px;
    height: 400px;
    
   }

.size:hover {
    width: 600px;
    height: 400px;
}
