<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <img src="static/mainpage/image_project/work_foto/project_delivery/2.jpeg" width='300px' height='200px' alt="projec1">
        <img src="static/mainpage/image_project/work_foto/project_delivery/3.jpeg" width='300px' height='200px' alt="project2">
        <img src="static/mainpage/image_project/work_foto/project_delivery/perevozka-parovyh-kotlov-1.jpg" width='300px' height='200px' alt="kotel">
        <img src="static/mainpage/image_project/work_foto/project_delivery/teplovoz.jpeg" width='300px' height='200px'  alt="">
    </div>
    <p>
        Проектный груз – это тяжеловесный и крупногабаритный груз, который по техническим характеристикам запрещено транспортировать <br>
        по дорогам общего пользования. Как правило, к проектным грузам относят: различное крупногабаритное оборудование, технологические линии, <br>
        военную спецтехнику, крупное энергетическое и промышленное оборудование, турбины, буровые установки, детали для космических ракет и прочие негабаритные и тяжеловесные грузы.

Проектные грузы имеют большие размеры и вес (более 100 тонн), поэтому их запрещено транспортировать по дорогам общего пользования, ,<br>
так как это может привести к разрушению дорожного покрытия, опор мостов, линий электропередач. Для перевозки подобных грузов разрабатывается специальный проект особого маршрута движения.
    </p>
</body>
</html>