<!DOCTYPE html>
<html lang="ru">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/mainpage/css/uslugi.css'>
    
    {% load static %}
     
</head>
<body>
    <a href="./DST.html" class="dst">Перевозка дорожной техники </a>
<div class="tech">
        <img src={% static "mainpage/image_project/work_foto/technics/zoomlion.jpg" % }>
        <img src={% static "mainpage/image_project/work_foto/technics/komatsu.jpg" % }>
       
        <img src={% static "mainpage/image_project/work_foto/technics/zoomlion2.jpg" % }>
        
        <img src={% static "mainpage/image_project/work_foto/technics/zoomlion.jpg" % }>
</div>     
        
    <a href="./ing.html"> Перевозка промышленного оборудования
        <img src="image_project/work_foto/ingenering" alt="инжиниринг">
    </a>
    <div class="inger">
        <img src={% static "mainpage/image_project/work_foto/ingenering/bochka.jpg" % }>
        <img src={% static "mainpage/image_project/work_foto/ingenering/bochka2.jpg" % }>
        <img src={% static "mainpage/image_project/work_foto/ingenering/ing.jpg" % }>
    </div>
    <a href="project_trip.html">Перевозка проектных грузов
        <img src="/static/mainpage/image_project/work_foto/project_delivery" alt="проектная логистика">
    </a>
   
</body>
</html>