<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="DST.html">Перевозка дорожной техники
        <img src="" alt="">
    </a>
    <a href="ing.html"> Перевозка емкостного оборудования
        <img src="pushpull/mainpage/static/mainpage/image_project/work_foto/ingenering/bochka2.jpg" alt="бочка">
    </a>
    <a href="project_trip.html">Перевозка проектных грузов
        <img src="pushpull/mainpage/static/mainpage/image_project/work_foto/project_delivery/perevozka-parovyh-kotlov-1.jpg" alt="картинка1">
    </a>
    
</body>
</html>