<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выполненные работы</title>
    <link rel="stylesheet" href='/static/mainpage/css/work.css'>
    {% load static %}
</head>
<body>
    {% block content %}
    <p class="size">
        <img src="#" alt="фото1">
    </p>
        
    <div class="size2">
        <img src="#" alt="фото2">
    </div>
        
    <div>
        <img src="#" alt="фото3">
    </div>

    <div>
        <img src="#" alt="фото4">
    </div>
    {% endblock %}
    
</body>
</html>