<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выполненные работы</title>
    <link rel="stylesheet" href='/static/mainpage/css/work.css'>
    {% load static %}
</head>
<body>
   
    {% block content %}
    <p>
     <a href="/">Главная</a>    
    </p>
    <div class="size">
        <img src={% static "mainpage/image_project/work/work_foto_1.jpeg" %} alt='работа_1'>
    </div>
        
    <div class="size">
        <img src={% static "mainpage/image_project/work/work_photo_6.jpg" %} alt="работа_6">
    </div>
        
    <div class="size">
        <img src={% static "mainpage/image_project/work/work_photo_2.jpeg" %}alt="фото_2">
    </div>

    <div class="size">
        <img src={% static "mainpage/image_project/work/work_photo_3.jpeg" %} alt="фото_3">
    </div>

    <div class="size">
        <img src={% static "mainpage/image_project/work/work_photo_4.jpeg" %} alt="фото_4">
    </div>
    <div class="size">
        <img src={% static "mainpage/image_project/work/work_photo_5.jpg" %} alt="фото_5">
    </div>

    <div class="size">
        <img src={% static "mainpage/image_project/work/work_photo_7.jpeg" %} alt="фото_7">
    </div>

    <div class="size">
        <img src={% static "mainpage/image_project/work/work_photo_8.jpeg" %} alt="фото7">
    </div>






    
    
    {% endblock %}
    
</body>
</html>